language: ruby
cache: bundler
sudo: false

rvm:
  - 1.9.3
  - 2.1.5

before_install:
  - gem update --system
  - gem --version
  # Use a stable version once 1.13.0 is released
  - gem install bundler --version 1.13.0.rc.1

bundler_args: --without=localdev

gemfile:
  - gemfiles/chef_10.14.4.gemfile
  - gemfiles/chef_10.gemfile
  - gemfiles/chef_11.gemfile
  - gemfiles/chef_12.gemfile

env:
  - API_KEY=somefakeapikey APPLICATION_KEY=somefakeapplicationkey

matrix:
  exclude:
    # Chef 12.x with Ohai 8.2.x doesn't work on Chef 1.9.3
    - rvm: 1.9.3
      gemfile: gemfiles/chef_12.gemfile
  allow_failures:
