---
http_interactions:
- request:
    method: post
    uri: https://app.datadoghq.com/api/v1/series?api_key=<API_KEY>
    body:
      encoding: UTF-8
      string: ! '{"series":[{"metric":"chef.resources.total","points":[[1410264888,0.0]],"type":"gauge","host":"chef.handler.datadog.test-noapp","device":null}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - text/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"status":"ok"}'
  recorded_at: Tue, 09 Sep 2014 12:14:48 GMT
[...]
- request:
    method: post
    uri: https://app.datadoghq.com/api/v1/events?api_key=<API_KEY>
    body:
      encoding: UTF-8
      string: ! '{"msg_text":"Chef updated 0 resources out of 0 resources total.","date_happened":1410264888,"msg_title":"Chef
        completed in 5 seconds on chef.handler.datadog.test-noapp ","priority":"low","parent":null,"tags":["env:hostile","role:highlander","tag:the_one_and_only"],"aggregation_key":"chef.handler.datadog.test-noapp","alert_type":"success","event_type":"config_management.run","source_type_name":"chef","title":"Chef
        completed in 5 seconds on chef.handler.datadog.test-noapp ","text":"Chef updated
        0 resources out of 0 resources total.","host":"chef.handler.datadog.test-noapp","device":null}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - text/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"status": "ok", "event": {"priority": "low", "date_happened": 1410264888,
        "handle": null, "title": "Chef completed in 5 seconds on chef.handler.datadog.test-noapp
        ", "url": "https://app.datadoghq.com/event/jump_to?event_id=2449507422336115049",
        "text": "Chef updated 0 resources out of 0 resources total.", "tags": ["env:hostile",
        "role:highlander", "tag:the_one_and_only"], "related_event_id": null, "id":
        2449507422336115049}}'
  recorded_at: Tue, 09 Sep 2014 12:14:48 GMT
recorded_with: VCR 2.9.2
