---
http_interactions:
- request:
    method: post
    uri: https://app.datadoghq.com/api/v1/series?api_key=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"series":[{"metric":"chef.run.success","points":[[1471280572,1.0]],"type":"counter","host":"chef.handler.datadog.test-tags","device":null}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - text/json
      Dd-Pool:
      - propjoe
    body:
      encoding: UTF-8
      string: '{"status": "ok"}'
  recorded_at: Mon, 15 Aug 2016 17:02:52 GMT
[...]
- request:
    method: post
    uri: https://app.datadoghq.com/api/v1/events?api_key=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"msg_text":"Chef updated 0 resources out of 0 resources total.","date_happened":1471280572,"msg_title":"Chef
        completed in 5 seconds on chef.handler.datadog.test-tags ","priority":"low","parent":null,"tags":["env:hostile","role:highlander","tag:allowed_tag"],"aggregation_key":"chef.handler.datadog.test-tags","alert_type":"success","event_type":"config_management.run","source_type_name":"chef","title":"Chef
        completed in 5 seconds on chef.handler.datadog.test-tags ","text":"Chef updated
        0 resources out of 0 resources total.","host":"chef.handler.datadog.test-tags","device":null}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Dd-Pool:
      - propjoe
    body:
      encoding: UTF-8
      string: '{"status":"ok","event":{"id":673862961379005400,"title":"Chef completed
        in 5 seconds on chef.handler.datadog.test-tags ","text":"Chef updated 0 resources
        out of 0 resources total.","date_happened":1471280572,"handle":null,"priority":"low","related_event_id":null,"tags":["env:hostile","role:highlander","tag:allowed_tag"],"url":"https://app.datadoghq.com/event/event?id=673862961379005400"}}'
  recorded_at: Mon, 15 Aug 2016 17:02:52 GMT
- request:
    method: put
    uri: https://app.datadoghq.com/api/v1/tags/hosts/chef.handler.datadog.test-tags?api_key=<API_KEY>&application_key=<APPLICATION_KEY>&source=chef
    body:
      encoding: UTF-8
      string: '{"tags":["env:hostile","role:highlander","tag:allowed_tag"]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb_sameorig
      X-Dd-Debug:
      - u7dUbT/JdTcUwf46Xq6Rp9y7LQHfqCh/ybJrMEoYyOs=
    body:
      encoding: UTF-8
      string: '{"host":"chef.handler.datadog.test-tags","tags":["tag:allowed_tag","env:hostile","role:highlander"]}'
  recorded_at: Mon, 15 Aug 2016 17:02:52 GMT
recorded_with: VCR 3.0.3
