---
http_interactions:
- request:
    method: post
    uri: https://app.datadoghq.com/api/v1/series?api_key=<API_KEY>
    body:
      encoding: UTF-8
      string: ! '{"series":[{"metric":"chef.resources.total","points":[[1390096471,0.0]],"type":"gauge","host":"i-123456","device":null}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - text/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"status":"ok"}'
  recorded_at: Sun, 19 Jan 2014 01:54:31 GMT
[...]
- request:
    method: post
    uri: https://app.datadoghq.com/api/v1/events?api_key=<API_KEY>
    body:
      encoding: UTF-8
      string: ! '{"msg_text":"Chef updated 0 resources out of 0 resources total.","date_happened":1390096471,"msg_title":"Chef
        completed in 5 seconds on i-123456 ","priority":"low","parent":null,"tags":[],"aggregation_key":"i-123456","alert_type":"success","event_type":"config_management.run","source_type_name":"chef","title":"Chef
        completed in 5 seconds on i-123456 ","text":"Chef updated 0 resources out
        of 0 resources total.","host":"i-123456","device":null}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - text/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"status": "ok", "event": {"priority": "low", "date_happened": 1390096471,
        "handle": null, "title": "Chef completed in 5 seconds on i-123456 ", "url":
        "https://app.datadoghq.com/event/jump_to?event_id=2111137381846863054", "text":
        "Chef updated 0 resources out of 0 resources total.", "tags": [], "related_event_id":
        null, "id": 2111137381846863054}}'
  recorded_at: Sun, 19 Jan 2014 01:54:31 GMT
- request:
    method: get
    uri: https://app.datadoghq.com/api/v1/tags/hosts/i-123456?api_key=<API_KEY>&application_key=<APPLICATION_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"tags": ["env:testing"]}'
  recorded_at: Sun, 19 Jan 2014 01:54:31 GMT
- request:
    method: put
    uri: https://app.datadoghq.com/api/v1/tags/hosts/i-123456?api_key=<API_KEY>&application_key=<APPLICATION_KEY>
    body:
      encoding: UTF-8
      string: ! '{"tags":["env:testing"]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"host": "i-123456", "tags": ["env:testing"]}'
  recorded_at: Sun, 19 Jan 2014 01:54:31 GMT
recorded_with: VCR 2.8.0
