version: 2.1
jobs:
  ### Chef 12.0
  specs-ruby24-chef-120: &specs
    docker:
      - image: cimg/ruby:2.4
    environment:
      API_KEY: somefakeapikey
      APPLICATION_KEY: somefakeapplicationkey
      CHEF_VERSION: '12.0'
    steps:
      - checkout
      - run:
          name: Install gem dependencies
          command: rm Gemfile.lock && bundle install --path .bundle
      - run:
          name: Run tests
          command: bundle exec rake

  specs-ruby25-chef-120:
    <<: *specs
    docker:
      - image: cimg/ruby:2.5
    environment:
      API_KEY: somefakeapikey
      APPLICATION_KEY: somefakeapplicationkey
      CHEF_VERSION: '12.0'

  ### Chef 12.7
  specs-ruby24-chef-127:
    <<: *specs
    environment:
      API_KEY: somefakeapikey
      APPLICATION_KEY: somefakeapplicationkey
      CHEF_VERSION: '12.7.0'

  specs-ruby25-chef-127:
    <<: *specs
    docker:
      - image: cimg/ruby:2.5
    environment:
      API_KEY: somefakeapikey
      APPLICATION_KEY: somefakeapplicationkey
      CHEF_VERSION: '12.7.0'

  ### Chef 13
  specs-ruby24-chef-130:
    <<: *specs
    environment:
      API_KEY: somefakeapikey
      APPLICATION_KEY: somefakeapplicationkey
      CHEF_VERSION: '13.0'

  specs-ruby25-chef-130:
    <<: *specs
    docker:
      - image: cimg/ruby:2.5
    environment:
      API_KEY: somefakeapikey
      APPLICATION_KEY: somefakeapplicationkey
      CHEF_VERSION: '13.0'

  ### Chef 14
  specs-ruby24-chef-140:
    <<: *specs
    environment:
      API_KEY: somefakeapikey
      APPLICATION_KEY: somefakeapplicationkey
      CHEF_VERSION: '14.0'

  specs-ruby25-chef-140:
    <<: *specs
    docker:
      - image: cimg/ruby:2.5
    environment:
      API_KEY: somefakeapikey
      APPLICATION_KEY: somefakeapplicationkey
      CHEF_VERSION: '14.0'

  verify-gemfile-lock-dependencies:
    docker:
      - image: cimg/ruby:2.5
    environment:
      API_KEY: somefakeapikey
      APPLICATION_KEY: somefakeapplicationkey
    steps:
      - checkout
      - run:
          name: Install gem dependencies
          command: bundle install --path .bundle
      - run:
          name: Run tests
          command: bundle exec rake

workflows:
  build_and_test:
    jobs:
      - specs-ruby24-chef-120
      - specs-ruby25-chef-120

      - specs-ruby24-chef-127
      - specs-ruby25-chef-127

      - specs-ruby24-chef-130
      - specs-ruby25-chef-130

      - specs-ruby24-chef-140
      - specs-ruby25-chef-140
      - verify-gemfile-lock-dependencies
