---
http_interactions:
- request:
    method: post
    uri: https://app.datadoghq.com/api/v1/series?api_key=<API_KEY>
    body:
      encoding: UTF-8
      string: ! '{"series":[{"metric":"chef.resources.total","points":[[1398702979,0.0]],"type":"gauge","host":"chef.handler.datadog.test-hostname","device":null}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - text/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"status":"ok"}'
  recorded_at: Mon, 28 Apr 2014 16:36:19 GMT
[...]
- request:
    method: post
    uri: https://app.datadoghq.com/api/v1/events?api_key=<API_KEY>
    body:
      encoding: UTF-8
      string: ! '{"msg_text":"Chef updated 0 resources out of 0 resources total.","date_happened":1398702979,"msg_title":"Chef
        completed in 5 seconds on chef.handler.datadog.test-hostname ","priority":"low","parent":null,"tags":[],"aggregation_key":"chef.handler.datadog.test-hostname","alert_type":"success","event_type":"config_management.run","source_type_name":"chef","title":"Chef
        completed in 5 seconds on chef.handler.datadog.test-hostname ","text":"Chef
        updated 0 resources out of 0 resources total.","host":"chef.handler.datadog.test-hostname","device":null}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - text/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"status": "ok", "event": {"priority": "low", "date_happened": 1398702979,
        "handle": null, "title": "Chef completed in 5 seconds on chef.handler.datadog.test-hostname
        ", "url": "https://app.datadoghq.com/event/jump_to?event_id=2255530775220917022",
        "text": "Chef updated 0 resources out of 0 resources total.", "tags": [],
        "related_event_id": null, "id": 2255530775220917022}}'
  recorded_at: Mon, 28 Apr 2014 16:36:19 GMT
- request:
    method: put
    uri: https://app.datadoghq.com/api/v1/tags/hosts/chef.handler.datadog.test-hostname?api_key=<API_KEY>&application_key=<APPLICATION_KEY>&source=chef
    body:
      encoding: UTF-8
      string: ! '{"tags":["env:testing"]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"host": "chef.handler.datadog.test-hostname", "tags": ["env:testing"]}'
  recorded_at: Mon, 28 Apr 2014 16:36:19 GMT
recorded_with: VCR 2.9.0
