---
http_interactions:
- request:
    method: post
    uri: https://app.datadoghq.com/api/v1/series?api_key=<API_KEY>
    body:
      encoding: UTF-8
      string: ! '{"series":[{"metric":"chef.resources.total","points":[[1410264905,6.0]],"type":"gauge","host":"chef.handler.datadog.test-failed","device":null}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - text/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"status":"ok"}'
  recorded_at: Tue, 09 Sep 2014 12:15:05 GMT
[...]
- request:
    method: post
    uri: https://app.datadoghq.com/api/v1/events?api_key=<API_KEY>
    body:
      encoding: UTF-8
      string: ! '{"msg_text":"Chef updated 6 resources out of 6 resources total.\n$$$\n-
        [paws] (dynamically defined)\n- [ears] (dynamically defined)\n- [nose] (dynamically
        defined)\n- [tail] (dynamically defined)\n- [fur] (dynamically defined)\n\n$$$\n\n$$$\nChef::Exceptions::UnsupportedAction:
        Something awry.\n$$$\n\n$$$\nwhiskers.rb:2\npaws.rb:1\nfile.rb:2\nfile.rb:1\n$$$\n","date_happened":1410264905,"msg_title":"Chef
        failed in 2 seconds on chef.handler.datadog.test-failed ","priority":"normal","parent":null,"tags":["env:hostile","role:highlander","tag:the_one_and_only"],"aggregation_key":"chef.handler.datadog.test-failed","alert_type":"error","event_type":"config_management.run","source_type_name":"chef","title":"Chef
        failed in 2 seconds on chef.handler.datadog.test-failed ","text":"Chef updated
        6 resources out of 6 resources total.\n$$$\n- [paws] (dynamically defined)\n-
        [ears] (dynamically defined)\n- [nose] (dynamically defined)\n- [tail] (dynamically
        defined)\n- [fur] (dynamically defined)\n\n$$$\n\n$$$\nChef::Exceptions::UnsupportedAction:
        Something awry.\n$$$\n\n$$$\nwhiskers.rb:2\npaws.rb:1\nfile.rb:2\nfile.rb:1\n$$$\n","host":"chef.handler.datadog.test-failed","device":null}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - text/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"status": "ok", "event": {"priority": "normal", "date_happened":
        1410264905, "handle": null, "title": "Chef failed in 2 seconds on chef.handler.datadog.test-failed
        ", "url": "https://app.datadoghq.com/event/jump_to?event_id=2449507757931012345",
        "text": "Chef updated 6 resources out of 6 resources total.\n$$$\n- [paws]
        (dynamically defined)\n- [ears] (dynamically defined)\n- [nose] (dynamically
        defined)\n- [tail] (dynamically defined)\n- [fur] (dynamically defined)\n\n$$$\n\n$$$\nChef::Exceptions::UnsupportedAction:
        Something awry.\n$$$\n\n$$$\nwhiskers.rb:2\npaws.rb:1\nfile.rb:2\nfile.rb:1\n$$$\n",
        "tags": ["env:hostile", "role:highlander", "tag:the_one_and_only"], "related_event_id":
        null, "id": 2449507757931012345}}'
  recorded_at: Tue, 09 Sep 2014 12:15:05 GMT
- request:
    method: put
    uri: https://app.datadoghq.com/api/v1/tags/hosts/chef.handler.datadog.test-failed?api_key=<API_KEY>&application_key=<APPLICATION_KEY>&source=chef
    body:
      encoding: UTF-8
      string: ! '{"tags":["env:hostile","role:highlander","tag:the_one_and_only"]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"host": "chef.handler.datadog.test-failed", "tags": ["env:hostile",
        "role:highlander", "tag:the_one_and_only"]}'
  recorded_at: Tue, 09 Sep 2014 12:15:05 GMT
recorded_with: VCR 2.9.2
