---
http_interactions:
- request:
    method: post
    uri: https://app.datadoghq.com/api/v1/series?api_key=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"series":[{"metric":"chef.run.failure","points":[[1453838669,1.0]],"type":"counter","host":"chef.handler.datadog.test-failed","device":null}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - text/json
      Dd-Pool:
      - propjoe
    body:
      encoding: UTF-8
      string: '{"status": "ok"}'
  recorded_at: Tue, 26 Jan 2016 20:04:29 GMT
[...]
- request:
    method: post
    uri: https://app.datadoghq.com/api/v1/events?api_key=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"msg_text":"\n$$$\n- [paws] (dynamically defined)\n- [ears] (dynamically
        defined)\n- [nose] (dynamically defined)\n- [tail] (dynamically defined)\n-
        [fur] (dynamically defined)\n\n$$$\n\n$$$\nChef::Exceptions::UnsupportedAction:
        Something awry.\n$$$\n\n$$$\nwhiskers.rb:2\npaws.rb:1\nfile.rb:2\nfile.rb:1\n$$$\n","date_happened":1453838669,"msg_title":"Chef
        failed in 2 seconds on chef.handler.datadog.test-failed ","priority":"normal","parent":null,"tags":["env:hostile","role:highlander","tag:the_one_and_only"],"aggregation_key":"chef.handler.datadog.test-failed","alert_type":"error","event_type":"config_management.run","source_type_name":"chef","title":"Chef
        failed in 2 seconds on chef.handler.datadog.test-failed ","text":"\n$$$\n-
        [paws] (dynamically defined)\n- [ears] (dynamically defined)\n- [nose] (dynamically
        defined)\n- [tail] (dynamically defined)\n- [fur] (dynamically defined)\n\n$$$\n\n$$$\nChef::Exceptions::UnsupportedAction:
        Something awry.\n$$$\n\n$$$\nwhiskers.rb:2\npaws.rb:1\nfile.rb:2\nfile.rb:1\n$$$\n","host":"chef.handler.datadog.test-failed","device":null}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Dd-Pool:
      - propjoe
    body:
      encoding: UTF-8
      string: '{"status":"ok","event":{"id":381236709941151618,"title":"Chef failed
        in 2 seconds on chef.handler.datadog.test-failed ","text":"\n$$$\n- [paws]
        (dynamically defined)\n- [ears] (dynamically defined)\n- [nose] (dynamically
        defined)\n- [tail] (dynamically defined)\n- [fur] (dynamically defined)\n\n$$$\n\n$$$\nChef::Exceptions::UnsupportedAction:
        Something awry.\n$$$\n\n$$$\nwhiskers.rb:2\npaws.rb:1\nfile.rb:2\nfile.rb:1\n$$$\n","date_happened":1453838669,"handle":null,"priority":"normal","related_event_id":null,"tags":["env:hostile","role:highlander","tag:the_one_and_only"],"url":"https://app.datadoghq.com/event/event?id=381236709941151618"}}'
  recorded_at: Tue, 26 Jan 2016 20:04:29 GMT
- request:
    method: put
    uri: https://app.datadoghq.com/api/v1/tags/hosts/chef.handler.datadog.test-failed?api_key=<API_KEY>&application_key=<APPLICATION_KEY>&source=chef
    body:
      encoding: UTF-8
      string: '{"tags":["env:hostile","role:highlander","tag:the_one_and_only"]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb_sameorig
      X-Dd-Debug:
      - 9Q+iFAw9d2jVl1KLdG/nY8rs36fWfVouK6InLAr8+BM=
    body:
      encoding: UTF-8
      string: '{"host": "chef.handler.datadog.test-failed", "tags": ["env:hostile",
        "role:highlander", "tag:the_one_and_only"]}'
  recorded_at: Tue, 26 Jan 2016 20:04:29 GMT
recorded_with: VCR 3.0.1
