---
http_interactions:
- request:
    method: post
    uri: https://app.datadoghq.com/api/v1/series?api_key=<API_KEY>
    body:
      encoding: UTF-8
      string: ! '{"series":[{"metric":"chef.resources.total","points":[[1398157261,0.0]],"type":"gauge","host":"chef.handler.datadog.test-failed","device":null}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - text/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"status":"ok"}'
  recorded_at: Tue, 22 Apr 2014 09:01:01 GMT
[...]
- request:
    method: post
    uri: https://app.datadoghq.com/api/v1/events?api_key=<API_KEY>
    body:
      encoding: UTF-8
      string: ! '{"msg_text":"Chef updated 0 resources out of 0 resources total.\n@@@\nChef::Exceptions::UnsupportedAction:
        Something awry.\n@@@\n\n@@@\nfile.rb:2\nfile.rb:1\n@@@\n","date_happened":1398157261,"msg_title":"Chef
        failed in 2 seconds on chef.handler.datadog.test-failed ","priority":"normal","parent":null,"tags":[],"aggregation_key":"chef.handler.datadog.test-failed","alert_type":"error","event_type":"config_management.run","source_type_name":"chef","title":"Chef
        failed in 2 seconds on chef.handler.datadog.test-failed ","text":"Chef updated
        0 resources out of 0 resources total.\n@@@\nChef::Exceptions::UnsupportedAction:
        Something awry.\n@@@\n\n@@@\nfile.rb:2\nfile.rb:1\n@@@\n","host":"chef.handler.datadog.test-failed","device":null}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - text/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"status": "ok", "event": {"priority": "normal", "date_happened":
        1398157261, "handle": null, "title": "Chef failed in 2 seconds on chef.handler.datadog.test-failed
        ", "url": "https://app.datadoghq.com/event/jump_to?event_id=2246375237107537507",
        "text": "Chef updated 0 resources out of 0 resources total.\n@@@\nChef::Exceptions::UnsupportedAction:
        Something awry.\n@@@\n\n@@@\nfile.rb:2\nfile.rb:1\n@@@\n", "tags": [], "related_event_id":
        null, "id": 2246375237107537507}}'
  recorded_at: Tue, 22 Apr 2014 09:01:01 GMT
- request:
    method: put
    uri: https://app.datadoghq.com/api/v1/tags/hosts/chef.handler.datadog.test-failed?api_key=<API_KEY>&application_key=<APPLICATION_KEY>&source=chef
    body:
      encoding: UTF-8
      string: ! '{"tags":["env:hostile","role:highlander","tag:the_one_and_only"]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"host": "chef.handler.datadog.test-failed", "tags": ["env:hostile",
        "role:highlander", "tag:the_one_and_only"]}'
  recorded_at: Tue, 22 Apr 2014 09:01:01 GMT
recorded_with: VCR 2.9.0
