---
http_interactions:
- request:
    method: post
    uri: https://app.datadoghq.com/api/v1/events?api_key=<API_KEY>
    body:
      encoding: UTF-8
      string: ! '{"msg_text":"Chef was unable to complete a run, an error during compilation
        may have occurred.","date_happened":1410264902,"msg_title":"Chef failed during
        compile phase on chef.handler.datadog.test-resources ","priority":"normal","parent":null,"tags":["env:resources"],"aggregation_key":"chef.handler.datadog.test-resources","alert_type":"error","event_type":"config_management.run","source_type_name":"chef","title":"Chef
        failed during compile phase on chef.handler.datadog.test-resources ","text":"Chef
        was unable to complete a run, an error during compilation may have occurred.","host":"chef.handler.datadog.test-resources","device":null}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - text/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"status": "ok", "event": {"priority": "normal", "date_happened":
        1410264902, "handle": null, "title": "Chef failed during compile phase on
        chef.handler.datadog.test-resources ", "url": "https://app.datadoghq.com/event/jump_to?event_id=2449507704361410798",
        "text": "Chef was unable to complete a run, an error during compilation may
        have occurred.", "tags": ["env:resources"], "related_event_id": null, "id":
        2449507704361410798}}'
  recorded_at: Tue, 09 Sep 2014 12:15:02 GMT
- request:
    method: put
    uri: https://app.datadoghq.com/api/v1/tags/hosts/chef.handler.datadog.test-resources?api_key=<API_KEY>&application_key=<APPLICATION_KEY>&source=chef
    body:
      encoding: UTF-8
      string: ! '{"tags":["env:resources"]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"host": "chef.handler.datadog.test-resources", "tags": ["env:resources"]}'
  recorded_at: Tue, 09 Sep 2014 12:15:03 GMT
recorded_with: VCR 2.9.2
