---
http_interactions:
- request:
    method: post
    uri: https://app.datadoghq.com/api/v1/series?api_key=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"series":[{"metric":"chef.run.success","points":[[1453838671,1.0]],"type":"counter","host":"chef.handler.datadog.test-resources","device":null}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - text/json
      Dd-Pool:
      - propjoe
    body:
      encoding: UTF-8
      string: '{"status": "ok"}'
  recorded_at: Tue, 26 Jan 2016 20:04:32 GMT
- request:
    method: post
    uri: https://app.datadoghq.com/api/v1/events?api_key=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"msg_text":"Chef was unable to complete a run, an error during compilation
        may have occurred.","date_happened":1453838672,"msg_title":"Chef failed during
        compile phase on chef.handler.datadog.test-resources ","priority":"normal","parent":null,"tags":["env:resources"],"aggregation_key":"chef.handler.datadog.test-resources","alert_type":"error","event_type":"config_management.run","source_type_name":"chef","title":"Chef
        failed during compile phase on chef.handler.datadog.test-resources ","text":"Chef
        was unable to complete a run, an error during compilation may have occurred.","host":"chef.handler.datadog.test-resources","device":null}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Dd-Pool:
      - propjoe
    body:
      encoding: UTF-8
      string: '{"status":"ok","event":{"id":381236783340100567,"title":"Chef failed
        during compile phase on chef.handler.datadog.test-resources ","text":"Chef
        was unable to complete a run, an error during compilation may have occurred.","date_happened":1453838672,"handle":null,"priority":"normal","related_event_id":null,"tags":["env:resources"],"url":"https://app.datadoghq.com/event/event?id=381236783340100567"}}'
  recorded_at: Tue, 26 Jan 2016 20:04:32 GMT
- request:
    method: put
    uri: https://app.datadoghq.com/api/v1/tags/hosts/chef.handler.datadog.test-resources?api_key=<API_KEY>&application_key=<APPLICATION_KEY>&source=chef
    body:
      encoding: UTF-8
      string: '{"tags":["env:resources"]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb_sameorig
      X-Dd-Debug:
      - Lqo3/ximEWPWj/q8nw5y77qbM+7c3xo1aoVdmrbBiyU=
    body:
      encoding: UTF-8
      string: '{"host": "chef.handler.datadog.test-resources", "tags": ["env:resources"]}'
  recorded_at: Tue, 26 Jan 2016 20:04:32 GMT
recorded_with: VCR 3.0.1
