---
http_interactions:
- request:
    method: post
    uri: https://app.datadoghq.com/api/v1/series?api_key=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"series":[{"metric":"chef.resources.total","points":[[1410264893,2.0]],"type":"gauge","host":"chef.handler.datadog.test-resources","device":null}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - text/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: '{"status":"ok"}'
  recorded_at: Tue, 09 Sep 2014 12:14:53 GMT
[...]
- request:
    method: post
    uri: https://app.datadoghq.com/api/v1/events?api_key=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"msg_text":"Chef updated 1 resources out of 2 resources total.\n$$$\n-
        [whiskers] (dynamically defined)\n\n$$$\n","date_happened":1410264893,"msg_title":"Chef
        completed in 8 seconds on chef.handler.datadog.test-resources ","priority":"low","parent":null,"tags":["env:resources"],"aggregation_key":"chef.handler.datadog.test-resources","alert_type":"success","event_type":"config_management.run","source_type_name":"chef","title":"Chef
        completed in 8 seconds on chef.handler.datadog.test-resources ","text":"Chef
        updated 1 resources out of 2 resources total.\n$$$\n- [whiskers] (dynamically
        defined)\n\n$$$\n","host":"chef.handler.datadog.test-resources","device":null}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - text/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: '{"status": "ok", "event": {"priority": "low", "date_happened": 1410264893,
        "handle": null, "title": "Chef completed in 8 seconds on chef.handler.datadog.test-resources
        ", "url": "https://app.datadoghq.com/event/jump_to?event_id=2449507457417842743",
        "text": "Chef updated 1 resources out of 2 resources total.\n$$$\n- [whiskers]
        (dynamically defined)\n\n$$$\n", "tags": ["env:resources"], "related_event_id":
        null, "id": 2449507457417842743}}'
  recorded_at: Tue, 09 Sep 2014 12:14:53 GMT
- request:
    method: put
    uri: https://app.datadoghq.com/api/v1/tags/hosts/chef.handler.datadog.test-resources?api_key=<API_KEY>&application_key=<APPLICATION_KEY>&source=chef
    body:
      encoding: UTF-8
      string: '{"tags":["env:resources"]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: '{"host": "chef.handler.datadog.test-resources", "tags": ["env:resources"]}'
  recorded_at: Tue, 09 Sep 2014 12:14:53 GMT
- request:
    method: post
    uri: https://app.datadoghq.com/api/v1/series?api_key=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"series":[{"metric":"chef.resources.elapsed_time","points":[[1452809604,8.0]],"type":"gauge","host":"chef.handler.datadog.test-resources","device":null}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - text/json
      Dd-Pool:
      - propjoe
    body:
      encoding: UTF-8
      string: '{"status": "ok"}'
  recorded_at: Thu, 14 Jan 2016 22:13:24 GMT
recorded_with: VCR 3.0.1
