---
http_interactions:
- request:
    method: post
    uri: https://app.datadoghq.com/api/v1/series?api_key=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"series":[{"metric":"chef.run.success","points":[[1578321218,1.0]],"type":"counter","host":"chef.handler.datadog.test-resources","device":null}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - text/json
      Dd-Pool:
      - propjoe
    body:
      encoding: UTF-8
      string: '{"status": "ok"}'
  recorded_at: Mon, 06 Jan 2020 14:33:38 GMT
[...]
- request:
    method: post
    uri: https://app.datadoghq.com/api/v1/events?api_key=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"msg_text":"\n$$$\n- [whiskers] (dynamically defined)\n\n$$$\n","date_happened":1578321218,"msg_title":"Chef
        completed in 8 seconds on chef.handler.datadog.test-resources ","priority":"low","parent":null,"tags":["env:resources"],"aggregation_key":"chef.handler.datadog.test-resources","alert_type":"success","event_type":"config_management.run","source_type_name":"chef","title":"Chef
        completed in 8 seconds on chef.handler.datadog.test-resources ","text":"\n$$$\n-
        [whiskers] (dynamically defined)\n\n$$$\n","host":"chef.handler.datadog.test-resources","device":null}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - propjoe
    body:
      encoding: UTF-8
      string: '{"status":"ok","event":{"id":5269024709047942069,"title":"Chef completed
        in 8 seconds on chef.handler.datadog.test-resources ","text":"\n$$$\n- [whiskers]
        (dynamically defined)\n\n$$$\n","date_happened":1578321218,"handle":null,"priority":"low","related_event_id":null,"tags":["env:resources"],"url":"https://app.datadoghq.com/event/event?id=5269024709047942069"}}'
  recorded_at: Mon, 06 Jan 2020 14:33:38 GMT
- request:
    method: put
    uri: https://app.datadoghq.com/api/v1/tags/hosts/chef.handler.datadog.test-resources?source=chef
    body:
      encoding: UTF-8
      string: '{"tags":["env:resources"]}'
    headers:
      Dd-Api-Key:
      - "<API_KEY>"
      Dd-Application-Key:
      - "<APPLICATION_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - ty7T8eIeXOfZhM7KDN5nGo8JS7ZSIWAqBNFeZshTg3LLDJJa7mPU5wqGt0nOPCpy
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: '{"host":"chef.handler.datadog.test-resources","tags":["env:resources"]}'
  recorded_at: Mon, 06 Jan 2020 14:33:38 GMT
recorded_with: VCR 5.0.0
