---
http_interactions:
- request:
    method: post
    uri: https://app.datadoghq.com/api/v1/series?api_key=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"series":[{"metric":"chef.resources.total","points":[[1428257938,0.0]],"type":"gauge","host":"chef.handler.datadog.test-tags","device":null}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - text/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok"}'
  recorded_at: Sun, 05 Apr 2015 18:18:58 GMT
[...]
- request:
    method: post
    uri: https://app.datadoghq.com/api/v1/events?api_key=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"msg_text":"Chef updated 0 resources out of 0 resources total.","date_happened":1428257938,"msg_title":"Chef
        completed in 5 seconds on chef.handler.datadog.test-tags ","priority":"low","parent":null,"tags":["env:hostile","role:highlander","tag:the_one_and_only","service:test"],"aggregation_key":"chef.handler.datadog.test-tags","alert_type":"success","event_type":"config_management.run","source_type_name":"chef","title":"Chef
        completed in 5 seconds on chef.handler.datadog.test-tags ","text":"Chef updated
        0 resources out of 0 resources total.","host":"chef.handler.datadog.test-tags","device":null}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - text/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status": "ok", "event": {"priority": "low", "date_happened": 1428257938,
        "handle": null, "title": "Chef completed in 5 seconds on chef.handler.datadog.test-tags
        ", "url": "https://app.datadoghq.com/event/event?id=2751380734438080797",
        "text": "Chef updated 0 resources out of 0 resources total.", "tags": ["env:hostile",
        "role:highlander", "tag:the_one_and_only", "service:test"], "related_event_id":
        null, "id": 2751380734438080797}}'
  recorded_at: Sun, 05 Apr 2015 18:18:58 GMT
- request:
    method: put
    uri: https://app.datadoghq.com/api/v1/tags/hosts/chef.handler.datadog.test-tags?api_key=<API_KEY>&application_key=<APPLICATION_KEY>&source=chef
    body:
      encoding: UTF-8
      string: '{"tags":["env:hostile","role:highlander","tag:the_one_and_only","service:test"]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - mPU4gm+hKkKT8ia9ZdY5CzVKb87xvoCEvNtumo6b6Z8=
    body:
      encoding: UTF-8
      string: '{"host": "chef.handler.datadog.test-tags", "tags": ["service:test",
        "env:hostile", "role:highlander", "tag:the_one_and_only"]}'
  recorded_at: Sun, 05 Apr 2015 18:18:58 GMT
recorded_with: VCR 2.9.3
